@media screen and (max-width: 1000px) {
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  .container {
    width: 100%;
    padding: 0 10px;
  }
  #heading_items {
    width: 100%;
    justify-content: center;
  }

  .heading_img {
    /* width: 100px; */
  }

  nav {
    display: none;
  }

  #heading_items {
    width: 100%;
  }

  #heading_text {
    width: 100%;
    padding: 0 0 0 16px;
  }

  #heading_text h1 {
    width: 100%;
    font-size: 46px;
    line-height: 50px;
    text-align: left;
  }

  #player_infos {
    grid-template-columns: repeat(2, 1fr);
    
  }

  .player_infos {
    width: 90%;
    max-width: 400px;
    height: auto;

  }

  .player_infos p {
    width: 100%;
  }

  #highlight {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #highlights_text {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
  }

  #highlights_text h1 {
    font-size: 30px;
    width: 100%;
  }

  #highlights_img {
    display: block;
    width: 100%;
  }

  #highlights_img img {
    display: block;
  }

  #upcoming_matches {
    position: relative;
    height: 500px;
    height: auto;
  }

  #upcoming_matches h2 {
    width: 100%;
    position: static;
    text-align: center;
  }

  #upcoming_matches .time {
    line-height: 30px;
  }

  #sponsored_section {
    width: 100%;
  }

  #sponsored_logos {
    grid-template-areas:
    " nike"
    "hyundai" 
    "ea"
    "trivago"
    "cocacola";
    justify-content: center;
    align-items: center;
  }

  .footer_infos {
    width: 50%;
  }
}

@media screen and (max-width: 704px) {
  header {
    width: 100%;
    height: 400px;
  }
  .container {
    width: 100%;
    padding: 0 10px;
  }
  #heading_items {
    width: 100%;
    justify-content: center;
  }

  .heading_img {
    display: none;
  }

  nav {
    display: none;
  }

  #heading_items {
    width: 100%;
  }

  #heading_text {
    width: 100%;
    padding: 0 0 0 16px;
  }

  #heading_text h1 {
    width: 100%;
    font-size: 36px;
    line-height: 50px;
    text-align: left;
  }

  #player_infos {
    grid-template-columns: repeat(1, 1fr);
  }


  #highlight {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #highlights_text {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
  }

  #highlights_text h1 {
    font-size: 30px;
    width: 100%;
  }

  #highlights_text p {
    width: 100%;
  }

  #highlights_img {
    display: block;
    width: 100%;
  }

  #highlights_img img {
    display: block;
  }

  #upcoming_matches {
    position: relative;
    height: 500px;
    height: auto;
  }

  #upcoming_matches h2 {
    width: 100%;
    position: static;
    text-align: center;
  }

  #upcoming_matches .time {
    line-height: 30px;
  }

  #sponsored_section {
    width: 100%;
  }

  #sponsored_logos {
    grid-template-areas:
    " nike"
    "hyundai" 
    "ea"
    "trivago"
    "cocacola";
    justify-content: center;
    align-items: center;
  }

  .footer_infos {
    width: 80%;
  }
}
@media only screen and (max-width: 350px){
  .player_infos {
    width: 250px;
    height: auto;
  }

  .player_infos p {
    width: 100%;
  }
}


