/* ==================================================
==============// Basic structure setup //============ 
===================================================== */

/* Imported fonts here: >>> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ==================================================
==============// Google fonts Infos //===============
*
*   font-family: 'Poppins', sans-serif;
*   font-weight: 100,200,300,400,500,600,700,800,900;
*
===================================================== */


/* ==================================================
==============// CSS TABLE OF CONTENT //=============
*   
*   ----- Fixing CSS SECTION -----
*   1.  Fixing CSS
*
*   ----- COMMON CSS SECTION -----
*   2.  Custom CSS
*   3.  Common CSS 
*  
*   ----- HEADER SECTION -----
*   4. Header Section
*   5. Nav Section
*   
*   ----- MAIN SECTION -----
*   8. Player Card Section
*   9. Highlight Section
*   
*   ----- FOOTER SECTION -----
*   13. Contact Us Section
*   14. Our Location Section
*   
===================================================== */


/* ==================================================
>>>>>>>>>>>>>>>>// Fixing CSS : Start //<<<<<<<<<<<<<
===================================================== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1;
}

a {
  color: #fff;
  text-decoration: none;
}
/* ==================================================
>>>>>>>>>>>>>>>>// Fixing CSS : End //<<<<<<<<<<<<<<<
===================================================== */


/* ==================================================
>>>>>>>>>>// Custom CSS Properties : Start //<<<<<<<<
===================================================== */
:root {
  --header_background_color: #2D25A0;
  --button_color: #E02C6D;
  --normal_text_color: #6C6C6C;
}
/* ==================================================
>>>>>>>>>>// Custom CSS Properties : End //<<<<<<<<<<
===================================================== */


/* ==================================================
>>>>>>>>>>>>>>// Common CSS : Start //<<<<<<<<<<<<<<<
===================================================== */
body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  height: 44px;
  background-color: var(--button_color);
  text-align: center;
  line-height: 44px;
}

.normal-text {
  font-size: 16px;
  color: var(--normal_text_color);
}
/* ==================================================
>>>>>>>>>>>>>>// Common CSS : End //<<<<<<<<<<<<<<<<<
===================================================== */


/* ==================================================
===========// Header Section CSS : Start //==========
===================================================== */
header {
  background-color: var(--header_background_color);
  padding: 42px 0 0 0;
  height: 650px;
}

#heading_items {
  display: flex;
  padding: 67px 0 0 0;
  justify-content: space-between;
  align-items: center;
}

#heading_text h1, #heading_text p {
  color: #fff;
}

#heading_text h1 {
  font-size: 64px;
  font-weight: bold;
  width: 485px;
  padding: 0 0 27px 0;
  line-height: 80px;
}

#heading_text .button {
  width: 168px;
  display: inline-block;
}

#heading_text a i {
  margin: 0 0 0 8px;
}

#heading_img img {
  width: 556px;
  height: 438px;
}
/* ==================================================
===========// Header Section CSS : End //============
===================================================== */


/* ==================================================
===========// Nav Section CSS : Start //==========
===================================================== */
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  width: 587px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav .button {
  width: 123px;
}

nav a i {
  font-size: 17px;
  margin: 0 8px 0 0;
}

/* ==================================================
===========// Nav Section CSS : End //===============
===================================================== */


/* ==================================================
===========// Main Section CSS : Start //===========
===================================================== */
main {
  margin: 70px 0 158px 0;
}

/* ==================================================
---------// Player Card Section CSS : Start //-------
===================================================== */
.player_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 27px;
  justify-content: space-between;
  margin: 0px 0 165px 0;
}

.player_card {
  width: 330px;
  height: 474px;
  padding: 15px 15px 33px 15px;
  margin: 0 auto;
  box-shadow: 0px 0px 50px -25px #000;
}

.player_card img {
  width: 100%;
}

.player_card h1 {
  font-size: 28px;
  font-weight: bold;
  color: #18191F;
  margin: 16px 0 10px 0;
}

.player_card p {
  width: 300px;
  height: 104px;
  line-height: 26px;
  overflow: hidden;
}

.player_card a {
  display: inline-block;
  color: #000;
  margin: 6px 0 0 0;
}
/* ==================================================
---------// Player Card Section CSS : End //---------
===================================================== */


/* ==================================================
---------// Highlights Section CSS : Start //--------
===================================================== */
#highlight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#highlights_text {

}

#highlights_text h1 {
  width: 470px;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}

#highlights_text p {
  width: 404px;
  line-height: 28px;
  margin: 8px 0 24px 0;
}

#highlight .button {
  display: inline-block;
  width: 173px;
}

#highlight .button i {
  margin: 0 0 0 8px;
} 

#highlights_img {
  width: 567px;
}

#highlights_img img {
  width: 100%;
}
/* ==================================================
---------// Highlights Section CSS : End //----------
===================================================== */


/* ==================================================
===========// Main Section CSS : End //==============
===================================================== */


/* ==================================================
===========// Footer Section CSS : End //==============
===================================================== */
footer {
  padding: 0 0 63px 0;
}

.footer_infos{
  margin: 0 auto;
  width: 483px;
}

.footer_infos img {
  width: 100%;
}

#social_media_links {
  text-align: center;
  font-size: 17px;
  margin: 20px 0;
}

#social_media_links a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #E7E7E8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 17px;
  text-align: center;
  line-height: 32px;
}

#social_media_links i {
  color: #969BAB;
}

.footer_infos p {
  text-align: center;
}
/* ==================================================
===========// Footer Section CSS : End //==============
===================================================== */
